<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta charset="utf-8" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="msapplication-tap-highlight" content="no" />
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" />
    <title></title>


    <!--Import Google Icon Font-->
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Import materialize.css-->
  <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>


  <!-- <link rel="stylesheet" type="text/css" href="css/index.css" /> -->
    <!-- <link href="lib/ionic/css/ionic.css" rel="stylesheet"> -->
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
  </head>
  <body ng-app="main">
    <nav>
      <a href="#!" class="brand-logo">AeonPOS</a>
    <ul class="right hide-on-med-and-down">
    <li><a href="#!">Tables</a></li>
    <li><a href="#!">Menu</a></li>
    </ul>
    <ul id="slide-out" class="side-nav">
    <li><a href="#!">Tables</a></li>
    <li><a href="#!">Menu</a></li>
    </ul>
    <a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
    </nav>


<ul class="collapsible popout black-text" data-collapsible="expandable" ng-controller="Sections">
  <li ng-repeat="section in sections">
    <div class="collapsible-header blue-grey darken-1 white-text"><i class="material-icons">filter_drama</i>Section: {{section.name}}    (#free | #occupied)</div>
    <div class="collapsible-body">
      <ul class="collapsible popout black-text" data-collapsible="expandable">
          <li ng-repeat="table in section.tables">
            <div class="collapsible-header"><i class="material-icons">filter_drama</i>Table: {{table.name}} <span><i class="material-icons right grey-text">schedule</i><i class="material-icons right">perm_identity</i></span> </div>
            <div class="collapsible-body">
                <ul class="collection black-text">
                    <li class="collection-item" ng-repeat="order in table.orders">
                      <div>{{order.item}}</div>
                      <div><span ng-repeat="addon in order.addons"><i class="tiny material-icons">label_outline</i>{{addon}} </span></div>
                    </li>
                  </ul>
            </div>
          </li>
        </ul>
    </div>

  </li>
</ul>


        <script src="js/vendor/jquery.min.js"></script>
        <script src="js/vendor/what-input.min.js"></script>
        <script type="text/javascript" src="js/materialize.min.js"></script>
        <script type="text/javascript">
            // Initialize collapse button
            $(".button-collapse").sideNav();

            $('.collapsible').collapsible({
      accordion : false // A setting that changes the collapsible behavior to expandable instead of the default accordion style
    });
        </script>
  </body>
</html>
